{% extends "base.html" %}
{% load static %}


{% block content %}
{{block.super}}
<table class="table">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <th scope="row">{{ post.userId }}</th>
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.body | truncatewords:20 }}</td>
        </tr>
        {% endfor %}
        {% comment %} <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>John</td>
          <td>Doe</td>
          <td>@social</td>
        </tr> {% endcomment %}
      </tbody>
    </table>

    <h1>I am from Inside first app</h1>
    <img src="{% static 'images/bird1.webp' %}" alt="bird1" />


{% endblock %}