{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center mt-5">This Home page</h1>

<div class="container mt-5 mb-5">
    <form method="post">

        {% csrf_token %}
        {{form|crispy}}

        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>
</div>
<!-- 
{% if data %}

<div class="container mt-5 mb-5 ">
    <table class="table text-center table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Name</th>
                <th scope="col">Roll</th>
                <th scope="col">Father's Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
    
    
            {% for i in data %}
    
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.name}}</td>
                <td>{{i.roll}}</td>
                <td>{{i.father_name}}</td>
                <td>
                    <a href="#" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'delete_student' i.roll %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
    
    
            {% endfor %}
    
        </tbody>
    </table>
</div>



{%else%}

<h1>No data found</h1>

{% endif %} -->

{% endblock %}