{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for meal in data %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <div class="card h-100">
                <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="{{ meal.strMeal }}">
                <div class="card-body">
                    <p class="card-text">ID: {{ meal.idMeal }}</p>
                    <p class="card-text">Name: {{ meal.strMeal }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}